.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 20vw 80vw;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  /* min-width: 250px;
  background-color: yellow; */
  grid-column: 1;
  border-right: 2px solid black;
}

ul {
  list-style-type: none;
}

.list {
  cursor: pointer;
}

.noteItem:hover {
  color: red;
  font-weight: bolder;
}

.addNote {
  position: fixed;
  top: 95%;
  padding: 10px 122px 10px 122px;
}

.main {
  margin-left: 20px;
  grid-column: 2;
  width: 80vw;
  height: 100vh;
  /* background-color: cyan; */
}

form {
  height: 80vh;
  width: 80%;
  background-color: red;
}

.input {
  height: 100%;
  width: 100%;
  text-align: start;
  align-content: start;
}
